/*-*- mode: css; -*-*/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  click-to-exit:      true;
  modi:               "drun,run";
  display-drun:       "";
  columns:            1;
}
